@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #444451;
  transition: 0.3s;
  display: inline-block;
}

img {
  width: 100%;
}

.shape_right {
  position: absolute;
  width: 48rem;
  height: 35rem;
  top: 26rem;
  right: 0;
  background-color: #5267de;
  border-bottom-left-radius: 50%;
  z-index: -1;
}

.shape_left {
  position: absolute;
  width: 48rem;
  height: 35rem;
  top: 26rem;
  left: 0;
  background-color: #5267de;
  border-bottom-right-radius: 50%;
  z-index: -1;
}

.title_base {
  font-size: 3rem;
}

.text_base {
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 2rem 0;
}

.btn {
  background-color: #fa5a57;
  padding: 1rem 4.5rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
  border: 0.1rem solid #fa5a57;
}
.btn a {
  color: #fff;
}
.btn:hover {
  border: 0.1rem solid #fa5a57;
  background-color: transparent;
}
.btn:hover a {
  color: #fa5a57;
}

.btn_light {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  display: inline-block;
  background-color: #f7f7f7;
  color: #222;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn_light:hover {
  box-shadow: none;
  background-color: transparent;
  border: 0.1rem solid #93939b;
  color: #93939b;
}

.btn_blue {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid transparent;
  transition: 0.3s;
  background-color: #5267de;
  color: #fff;
}
.btn_blue:hover {
  border: 0.1rem solid #5267de;
  background-color: transparent;
  color: #5267de;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  background-color: #fff;
}
.header .nav_bar {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav_list .nav_item {
  margin: 0 2rem;
}
.header .nav_list .nav_item:hover a {
  color: #fa5a57;
}
.header img {
  height: auto;
}
.header .ham_menu {
  display: none;
}
.header .ham_menu i {
  font-size: 3rem;
}

@media (max-width: 991px) {
  .header {
    background-color: rgba(47, 53, 79, 0.95);
  }
  .header .logo {
    color: white;
  }
  .header .nav_bar .ham_menu {
    display: block;
    color: #fff;
  }
  .header .nav_bar .nav_item {
    display: none;
  }
}
.intro {
  margin-top: 10rem;
}
.intro .intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .intro__contant {
  flex: 1;
}
.intro .intro__contant .intro__btns {
  display: flex;
  gap: 2rem;
}
.intro .intro__image {
  flex: 1;
}

@media (max-width: 991px) {
  .intro .intro__container {
    display: flex;
    flex-direction: column;
  }
  .intro .intro__contant {
    order: 1;
    text-align: center;
  }
  .intro .intro__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro .intro__shape {
    display: none;
  }
}
@media (max-width: 720px) {
  .intro .intro__btns {
    flex-direction: column;
  }
}
.feature {
  margin-top: 10rem;
  margin-bottom: 18rem;
  position: relative;
}
.feature .shape_left {
  margin-top: 10rem;
}
.feature .feature_title {
  text-align: center;
}
.feature .feature_title .title {
  font-size: 3rem;
}
.feature .feature_title .text {
  color: #93939b;
  font-size: 1.6rem;
  line-height: 2.3rem;
  width: 50%;
  margin: 0 auto;
  padding-top: 1rem;
}
.feature .feature_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0 2rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid #e4e4eb;
  color: #93939b;
}
.feature .tab_active a {
  color: #fa5a57;
}
.feature .feature__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 16rem;
}
.feature .feature__contant {
  flex: 1;
}
.feature .feature__image {
  flex: 1;
}
.feature .feature__image img {
  max-width: 50rem;
  min-height: 40rem;
}

@media (max-width: 991px) {
  .feature .feature_header {
    flex-direction: column;
    border-bottom: none;
    gap: 2rem;
  }
  .feature .feature__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .feature .feature__contant {
    order: 1;
    text-align: center;
  }
  .feature .feature__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature .feature_shape {
    display: none;
  }
  .feature .feature__image img {
    max-width: 80rem;
    min-height: 0;
  }
  .feature .title .feature_text {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .feature .feature__image img {
    max-width: 44rem;
    min-height: 0;
  }
  .feature .feature_title .text {
    width: 100%;
  }
}
.download_extention {
  margin-top: 18rem;
}
.download_extention .download_extention_title {
  text-align: center;
}
.download_extention .download_extention_title .title {
  font-size: 3rem;
}
.download_extention .download_extention_title .text {
  color: #93939b;
  font-size: 1.6rem;
  line-height: 2.3rem;
  width: 48%;
  margin: 0 auto;
  margin-top: 1rem;
}
.download_extention .download_extention_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.download_extention .download_extention_cards .card {
  padding: 5rem 3rem 3rem 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}
.download_extention .download_extention_cards .card .image img {
  max-width: 8rem;
  height: 8rem;
}
.download_extention .download_extention_cards .card .title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}
.download_extention .download_extention_cards .card .text {
  margin-bottom: 6rem;
  font-size: 1.2rem;
}
.download_extention .download_extention_cards .card_top {
  margin-top: 5rem;
}
.download_extention .download_extention_cards .card_top2 {
  margin-top: 10rem;
}

@media (max-width: 991px) {
  .download_extention .download_extention_title .text {
    width: 100%;
  }
  .download_extention .download_extention_cards .card_top2 {
    margin: 0;
  }
}
@media (max-width: 720px) {
  .download_extention .download_extention_title .text {
    width: 100%;
  }
  .download_extention .download_extention_cards {
    margin-top: 5rem;
    gap: 0;
  }
  .download_extention .download_extention_cards .card {
    margin: 2rem;
  }
}
footer .footer_top {
  text-align: center;
  color: #fff;
  background-color: #5267de;
  padding: 3rem 0;
  margin-top: 4rem;
}
footer .footer_top .text {
  margin-bottom: 3rem;
  font-size: 1.1rem;
}
footer .footer_top .title {
  line-height: 4rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  color: #fff;
  font-size: 2.5rem;
}
footer .footer_top form .form_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .footer_top form input {
  height: 3.8rem;
  width: 30rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: #222;
}
footer .footer_top .btn_footer {
  background-color: #fa5a57;
  padding: 1rem 4.5rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
  border: 0.1rem solid #fa5a57;
  padding: 0.7rem 5rem;
  color: #fff;
}
footer .footer_top .btn_footer:hover {
  border: 0.1rem solid #fa5a57;
  background-color: #fff;
  color: #fa5a57;
}
footer .footer_bottom {
  background-color: #242946;
  padding: 2rem 0;
}
footer .footer_bottom .footer_bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_bottom .footer_bottom_container .nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
footer .footer_bottom .footer_bottom_container .nav_list .nav_item a {
  color: #fff;
}
footer .footer_bottom .footer_bottom_container .nav_list .nav_item:hover a {
  color: #fa5a57;
}
footer .footer_bottom .footer_bottom_container .social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 720px) {
  .footer form .form_block {
    flex-direction: column;
  }
  .footer form .form_block .btn_footer {
    padding: 0.7rem 11rem;
  }
  .footer .footer_bottom .footer_bottom_container {
    flex-direction: column;
  }
  .footer .footer_bottom .nav_list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 2rem;
  }
  .footer .footer_bottom .social_links {
    gap: 2;
  }
}/*# sourceMappingURL=main.css.map */